@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
  .hover {
    @apply rounded-lg bg-blue-500 px-4 py-2 font-semibold text-white shadow-md
    hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400
    focus:ring-opacity-75;
  }
} */

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #f7f7f7;
  }
  /* Handle */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #e5e5e5;
  }
}

@layer components {
  .my-container {
    @apply m-auto px-[15px] sm:max-w-[750px] md:max-w-[970px] lg:max-w-[1170px] xl:max-w-[1300px]
    2xl:max-w-[1400px];
  }

  .box-hovering-effect {
    @apply relative overflow-hidden before:absolute before:left-0 before:top-0 before:h-0 before:w-0
    before:bg-black before:opacity-10 before:duration-700 before:content-['']
    after:absolute after:bottom-0 after:right-0 
    after:h-0 after:w-0 after:bg-black
    after:opacity-10 after:duration-700 after:content-[''] hover:before:h-full
    hover:before:w-full hover:before:-rotate-180 hover:after:h-full hover:after:w-full hover:after:-rotate-180;
  }

  .steps-active {
    @apply text-primaryColor ease-in-out before:absolute before:bottom-0 before:left-1/2 before:h-0.5
    before:w-full before:-translate-x-1/2 before:bg-thirdColor before:duration-300;
  }

  .links-hover-effect {
    @apply duration-300 ease-in-out before:absolute before:bottom-0 before:left-1/2 before:h-0.5 before:w-0
    before:-translate-x-1/2 before:bg-thirdColor before:duration-300 hover:text-primaryColor hover:before:w-full;
  }

  .height-vh {
    height: calc(100dvh - 160px);
  }

  input[type='radio'] {
    appearance: none;
  }
  .custom-radio-label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }

  .custom-radio-label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    border: 2px solid #e5e5e5;
    border-radius: 50%;
  }
  .custom-radio-label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: #ff4040;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
  }
  @media (max-width: 481px) {
    .custom-radio-label {
      padding-left: 23px;
    }
    .custom-radio-label::before {
      width: 16px;
      height: 16px;
      left: 2px;
      top: 2px;
    }
    .custom-radio-label::after {
      width: 8px;
      height: 8px;
      left: 6px;
      top: 6px;
    }
  }
  input[type='radio']:checked + .custom-radio-label::before {
    border-color: #e5e5e5;
  }
  input[type='radio']:checked + .custom-radio-label::after {
    transform: scale(1);
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    display: none;
  }

  table,
  th,
  td {
    border: 1px solid #ddd;
    border-collapse: collapse;
    padding: 10px 15px;
    text-align: left;
  }
}
